<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="spring">
      <!--提供Spring对应用程序上下文的支持-->
      <section name="context" type="Spring.Context.Support.ContextHandler, Spring.Core"/>
      <!--提供Spring对 对象容器的支持-->
      <section name="objects" type="Spring.Context.Support.DefaultSectionHandler, Spring.Core"/>
    </sectionGroup>
  </configSections>

  <spring>
    <context>
      <resource uri="file://~/Config/Objects.xml"/>
      <!--<resource uri="assembly://SpringNet/SpringNet.Config/Objects.xml"/>-->
    </context>
  </spring>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
</configuration>